body{    
     margin: 0;
    padding: 0;
    background-color: rgb(1, 30, 63);
    
    

}

.second-keyframe img{
    opacity: 1;
}
.b { 
    cursor: pointer;
    margin-top: 18px;
    margin-left: 600px;
    width: 140px;
    height: 50px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    font-size: x-large;
    text-decoration: underline;
    color: white;
  
    
}
.b:hover{
    background-color: #0056b3;
    transform: translateY(3px);

}

.first-keyframe{
    width: 45px;
    height: 55px;
    opacity: 1;
    animation-name: example;
    animation-duration: 10s;
    position: relative;
    border-radius: 30px;
    margin-top: 0%;
    animation-iteration-count: infinite;
    opacity: 1;

}

.info{
    column-count: 3;
    column-width: 395px;
    height: 220px;
    width: 280px;
    margin-top: -1710px;
    margin-left: 210px;
    font-size: larger;
    text-align: justify;
    text-shadow: 2px 2px 2px white;
    text-align: justify;
    align-content:center;
    column-rule-style:groove;
    column-rule-width: 5px;

    
}
.info h2{
    text-align: center;
}
.info2 h2{
    text-align: center;
}
.sub{
    height: 30px;
}

.con{
    height: 29px;
}
.poi{
    height: -11px;
}
.info2{
    column-count: 3;
    column-width: 330px;
    height: 313px;
    width: 275px;
    margin-top: 50px;
    margin-left: 215px;
    font-size: larger;
    text-align: justify;
    text-shadow: 2px 2px 2px white;
    column-rule-style: groove;
    column-rule-width: 5px;
}

.second-keyframe{
    width: 45px;
    height: 55px;
    opacity: 1;
    animation-name: example2;
    animation-duration: 10s;
    position: relative;
    border-radius: 30px;
    margin-top: 0%;
    animation-iteration-count: infinite;
    justify-content: center;

}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:310px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  { left:310px; top:0px;}
    100% {left:0px; top:0px;}
  } 

  @keyframes example2 {
    0%   {left:0px; top:0px;}
    25%  { left:-310px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  { left:-310px; top:0px;}
    100% {left:0px; top:0px;}
  } 

.header{
    justify-content: center;
    width: auto;
    text-align: center;
    font-size: larger;
    background: linear-gradient(rgb(1, 1, 107), white);
    height: 200px;
    background-image: url(esewalogo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: contain;
    margin-top: -2%;
    text-shadow: 2px 2px 5px white;
}

.main img{
    opacity: 0.2;
    margin-top: -75px;
    border-radius: 50%;
    
    
}
.animation{
    transform: translate(35%, -2980%);
    margin-top: 75px;
    opacity: 1;
}

.animation2{
    justify-content: center;
    transform: translate(60%, 1320%);
}

.instructions{
    width: 900px;
    height: 1000px;
    border: 10px solid rgb(22, 22, 22);
    border-radius: 25px;
    margin-top: -1000px;
    transform: translate(20%,100%);
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;
    text-shadow: 1px 1px 1px white;

    
}

.header img{
    align-items: center;
    width: 1000px;
    height: 200px;
    margin-left: 250px;
    margin-top: 0px;
    position: top;
    position: relative;
    transform: translate(10.5%, -104%);
    opacity: 0.3;

}
.footer{
    justify-content: center;
    margin-left: 450px;
    margin-top: 10px;
    border: 4px solid black;
    width: 420px;
    justify-content: center;
    text-align: center;
    box-shadow: 6px 6px 6px green;
    text-shadow: 1px 1px 1px white;
    border-radius: 15px;
}
.f-m-details{
    justify-content: center;
    margin-left: 0px;
    height: 120px;
    width: 400px;
    text-align: justify;
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom: 15px;
    margin-top: -35px;
    
}





