body{    
     margin: 0;
    padding: 0;
    background-color: grey;
    

}
.button{
    margin-top: 80px;
    margin-left: 600px;
    width: 140px;
    height: 50px;
    background-color: green;
    border: 2px solid black;
    border-radius: 10px;
    font-size: x-large;
    cursor: pointer;
    text-decoration: underline;
    color: white;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}
button:hover{
    background-color: #0056b3;
    transform: translateY(3px);

}

.first-keyframe{
    width: 45px;
    height: 55px;
    opacity: 1;
    animation-name: example;
    animation-duration: 10s;
    position: relative;
    border-radius: 30px;
    margin-top: 0%;
    animation-iteration-count: infinite;

}
.info{
    column-count: 3;
    column-width: 357px;
    height: 191px;
    width: 275px;
    margin-top: -1710px;
    margin-left: 220px;
    font-size: larger;
    text-align: justify;
}

.info2{
    column-count: 3;
    column-width: 330px;
    height: 323px;
    width: 275px;
    margin-top: 50px;
    margin-left: 220px;
    font-size: larger;
    text-align: justify;

}


.second-keyframe{
    width: 45px;
    height: 55px;
    opacity: 1;
    animation-name: example2;
    animation-duration: 10s;
    position: relative;
    border-radius: 30px;
    margin-top: 0%;
    animation-iteration-count: infinite;
    justify-content: center;

}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  { left:310px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  { left:310px; top:0px;}
    100% {left:0px; top:0px;}
  } 

  @keyframes example2 {
    0%   {left:0px; top:0px;}
    25%  { left:-310px; top:0px;}
    50%  {left:0px; top:0px;}
    75%  { left:-310px; top:0px;}
    100% {left:0px; top:0px;}
  } 

.header{
    justify-content: center;
    width: auto;
    text-align: center;
    font-size: larger;
    background: linear-gradient(rgb(1, 1, 107), white);
    height: 200px;
    background-image: url(esewalogo.png);
    background-repeat: no-repeat;
    background-position:left;
    background-size: contain;
    margin-top: -2%;
    text-shadow: 2px 2px 5px white;
}

.main img{
    opacity: 0.15;
    margin-top: -74px;
    
    
}
.animation{
    transform: translate(35%, -2980%);
    margin-top: 75px;
}

.animation2{
    justify-content: center;
    transform: translate(60%, 1320%);
}

.instructions{
    width: 900px;
    height: 1000px;
    border: 10px solid rgb(22, 22, 22);
    border-radius: 25px;
    margin-top: -1000px;
    transform: translate(20%,100%);
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 10px 10px 5px lightblue;

    
}

.header img{
    align-items: center;
    width: 1000px;
    height: 200px;
    margin-left: 250px;
    margin-top: 0px;
    position: top;
    position: relative;
    transform: translate(10.5%, -104%);
    opacity: 0.3;

}
.footer{
    justify-content: center;
    margin-left: 560px;
    margin-top: -30px;
}
.f-m-details{
    justify-content: center;
    margin-left: -40px;
    height: 80px;
    width: 300px;
}

.enter:hover{
    background-color: white;

}




