body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f9faf9;
  background-color: #edf0ed;
  background-image: url('teams.jpg');
}

.container {
  background-color: rgba(10, 10, 10, 0.8); /* Semi-transparent dark background */
  padding: 50px;
  border: 8px solid #ffffff; /* White border */
  text-align: center;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(52, 66, 146, 0.3);
  margin-top: 10%; /* Adjusted for better positioning */
  border-radius: 15px; /* Rounded corners */
}

.container h1, .container h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#535353, #1a5a21);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vs1, .vs2, .vs3 {
  margin-left: 0;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 5px;
  color: #ff9a8b;
  width: 100%;
}

input[type="number"] {
  padding: 10px;
  font-size: 1em;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 25px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #0056b3;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.button1 {
  background-color: #04aa6d;
}

button:hover {
  background-color: #004a9b; /* Darker shade for hover effect */
  transform: translateY(3px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, rgba(255, 111, 97, 0.5), rgba(255, 154, 139, 0.5));
  z-index: -1;
  border-radius: 15px;
  filter: blur(10px);
}

.match1-img, .german, .scotland, .hungary, .switzerland, .spain, .croatia {
  width: 60px;
  height: auto; /* Ensure images scale proportionally */
  margin: 0 10px;
  transform: translateY(20%);
}

.switzerland {
  transform: translate(16%, 20%);
}

.scotland {
  transform: translate(12%, 20%);
}

.german {
  transform: translate(12%, 20%);
}

.hungary {
  transform: translate(0%, 20%);
}

.spain {
  transform: translate(-11%, 20%);
}

.croatia {
  width: 60px;
  height: 40px;
  transform: translate(15%, 20%);
}
