body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f9faf9;
  background-color: #edf0ed;
  background-image: url('eurocup.jpg');
}
.logo{
  border-radius: 70%;
  justify-content: center;
  align-items: center;
  margin-left: 300px;
  
}

.container {
  background-color: rgb(1, 38, 51, 0.95); /* Semi-transparent dark background */
  padding: 150px;
  border: 8px solid #ffffff; /* White border */
  text-align: center;
  height: 1150px;
  width: 900px;
  box-shadow: 0 4px 8px rgba(52, 66, 146, 0.3);
  margin-top: 55%; /* Adjusted for better positioning */
  border-radius: 10px; /* Rounded corners */
  padding-top: 2px;
  border-top: 30px solid white;
}

.container h1, .container h2 {
  font-size: 4em;
  margin-bottom: 10px;
  background: -webkit-linear-gradient(#03030a, #fafafd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
 
}
.container h1{
  padding-top: -50px;
  font-size: 5em;
}


.vs1, .vs2, .vs3 {
  margin-left: 0;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 10s;
  background: rgb(1, 38, 51, 0.8);
}
.vs2{
  padding-left: 60px;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1em;
  margin-bottom: 5px;
  color: #bdb4b3;
  width: 100%;
}

input[type="number"] {
  padding: 10px;
  font-size: 1em;
  width: 60px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 12px 25px;
  font-size: 1.2em;
  color: #ffffff;
  background-color: #0056b3;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.button1 {
  background-color: #04aa6d;
}

button:hover {
  background-color: #004a9b; /* Darker shade for hover effect */
  transform: translateY(3px);
}

.container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom right, rgba(255, 111, 97, 0.5), rgba(255, 154, 139, 0.5));
  z-index: -1;
  border-radius: 15px;
  filter: blur(10px);
}

.match1-img, .german, .scotland, .hungary, .switzerland, .spain, .croatia {
  width: 120px;
  height: auto; /* Ensure images scale proportionally */
  margin: 0 10px;
  transform: translateY(80%);
}

.switzerland {
  transform: translate(10%, 0%);
 
}

.scotland {
  transform: translate(8%, 0%);
}

.german {
  transform: translate(10%, -1%);
}

.hungary {
  transform: translate(5%, 1%);
}

.spain {
  transform: translate(-28%, 0%);
}

.croatia {
  width: 105px;
  height: 85px;
  transform: translate(15%, 0%);
}

#teamA1{
  width: 100px;
}
#teamB1{
  width: 100px;
}
#teamC1{
  width: 100px;
}
#teamD1{
  width: 100px;
}
#teamE1{
  width: 100px;
}
#teamF1{
  width: 100px;
}
