body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(eurocup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
  }
  .football{
    object-fit: cover; 
    object-position: center;
    overflow: hidden;

  }

  .middle{
    width: 6000px;
    background-color: #faf7f7;
    transform: translate(108%,-273%);
    height: 100px;
    display: block;
    
  }
  .navbar{
    background-color: #4CAF50;
    overflow: hidden;
    transform: translate(55%, -59%);
    display: inline-block;
    width: 50000px;
    text-decoration: none;
    display: flex;
    margin-left: -900px;
    height: 40px;
    margin-top: -350px;
    padding-top: 8px; 

  }
  .navbar a{
    float: left;
    text-align: center;
    display: flex;
    margin-left: 130px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    color: white;
    justify-content: center;

  }
  .esewa{
    width: 10000px;
    background-color: #fcf9f9;
    transform: translate(64%,-273%);
    height: 100px;
    display: block;
  }

  #backgroundImage{z-index: 1;}

#backgroundImage:before {
   content: "";
   position: absolute;
   z-index: -1;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   background-image: url(eurocup.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.4;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;
 }

  .esewa-logo{
    transform: translate(-125%,-261%);
    width: 350px;
    opacity: 1;
    background-color: rgb(250, 250, 250);
  }
  
  .page {
    text-align: center;
    display: block;
    transform: translate(-325%,600%);
  }
  .info{
    transform: translate(2%, -295%);
    overflow: hidden; 
    text-overflow:inherit; 
    word-wrap: break-word;
    overflow-wrap: break-word;
    height: 364px;
    width: 777px;

  }
  
  .hidden {
    display: none;
  }
  .intro{
    color: rgb(253, 252, 252);
    height: 500px;
    width: 22000px;
    border: 4px solid rgb(252, 206, 206);
    text-align: center;
    transform: translate(-10%, -495%);
    text-decoration: solid;
    justify-content: center;
    background-color: #4CAF50;
    margin-top: 5450px;
    padding-top: 18px;
    padding-bottom: 7px;
    font-size: xx-large;
    opacity: 0.9;
    ;

  }
  
  .Rectangular-button {
    width: 200px;
    height: 55px;
    border-radius: 5px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: solid 5px;
    cursor: pointer;
    text-decoration: underline;
    transform: translate(50%, 50%);
    
  }
  
  #matchList {
    list-style-type: none;
    padding: 0;
  }
  
  #matchList li {
    margin-bottom: 10px;
  }