body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(eurocup.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .esewa-logo {
    width: 200px;
    background-color: rgb(250, 250, 250);
    margin: 20px 0;
    text-align: center;
    transform: translate(-276%,-20%);
  }
  
  
  
  .navbar {
    background-color: #4CAF50;
    overflow: hidden;
    display: flex;
    justify-content: center;
    height: 480px;
    width: 100%;
    padding: 25px;
    position: relative;
  }
  
  .navbar a {
    color: white;
    padding: 7px 7px 7px 7px;
    text-decoration: none;
    text-align: center;
  }
  
  .intro {
    color: rgb(253, 252, 252);
    background-color: #4CAF50;
    width: 80%; 
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 20px 0;
    opacity: 0.85;
    height: 1130px;
  }
  
  .image-container {
    position: relative;
    width: 100%;
    max-width: 1000px;
  }
  
  .football {
    width: 100%;
    height: 990px;
    display: block;
  }
  
  .info {
    position: absolute;
    top: 128%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 965px;
    text-align: center;
    height: 950px;
  }
  
  .Rectangular-button {
    width: 200px;
    height: 55px;
    border-radius: 10px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: underline;
  }
  
  .Rectangular-button:hover {
    background-color: #45a049;
  }
  
  #matchList {
    list-style-type: none;
    padding: 0;
  }
  
  #matchList li {
    margin-bottom: 10px;
  }

  .esewa{
    width: 500px;
    height: 250px;
    margin-top: 10px;
    background-color: rgb(253, 253, 253);
    justify-content: right;
    margin-right: 10px;
    margin-left: 10px;
  }
  .instructions1{
    text-align: justify;
    font-family:monospace;
    font-size: large;
   
  }
  .intro h3{
    font-size: larger;
    font-family:cursive;
  }
  .white-header{
    justify-content: left;
    width: 500px;
    height: 1300px;
    margin-right: 50px;
    background-color: white;
    margin-top: 5px;
    
  }